@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  font-size: 1rem;
  padding: 1rem;
  animation: fadeOut 4s linear forwards;
}
