body {
    background-color: #fff;
}

input {
    outline: none;
    position: relative;
    top: -1.1rem;
    left: 1rem;
    width: 900px;
    padding: 12px;
}

.App-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header h1 {
    color: #fff;
    margin-top: 0.5rem;
}

.App-header p {
    color: #fff;
    margin-top: -1.9rem;
}

#search-bg {
    background-color: #DC143C;
    width: 1000px;
    height: 150px;
    margin: -29rem 0 0 250px;
}